# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
.env
.env.*
!.env.example
staticfiles/
*.sqlite3
*.sqlite3-*
.coverage
htmlcov/

# Django
db.sqlite3

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db
